 // mobile design
  .search-div {
  
  }

   .search-form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 40px;
    background: white;
    margin: 0 8px;
    border-radius: 8px;
  
  }
.search__input {
  grid-column: 1/7;
  height: 40px;
  color: #706b6b;
  background-color: #fff;
}
.search__input::placeholder {
  color: #706b6b;
}

.search__btn {
   grid-column: 8/9;
   height: 40px;
}

  .search-form:focus-within {
    box-shadow: 2px 2px 5px #000;
  }

  .search__btn,
.search__input {

  border: none;
  outline: none;
} 
.search__btn {
background-color: var(--btn-color);
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

.search__btn:hover {
  background: #ffa500;
}


/* small tablet styles */
@media screen and (min-width: 570px){

  .search-div {
    width: 50%;
  
  }

}


/* laptop */
@media screen and (min-width: 960px){

}


/* other styles
.search__input {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search__btn {
 
  grid-column: 6/8;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  place-content: center;
}
 
/*

 .search__btn {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #8c52ff;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
 }

 form:hover{
  width: 300px;
  cursor: pointer;
}


form:hover input{
  display: block;
}


form:hover .search__btn {
  background: #8c52ff;
  color: white;
}
 */
