 // mobile design
  .search-div {
  
  }

   .search-form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 40px;
    background: white;
    margin: 0 8px;
    border-radius: 8px;
  
  }
.search__input {
  grid-column: 1/7;
  height: 40px;
  color: #706b6b;
  background-color: #fff;
}
.search__input::placeholder {
  color: #706b6b;
}

.search__btn {
   grid-column: 8/9;
   height: 40px;
}

  .search-form:focus-within {
    box-shadow: 2px 2px 5px #000;
  }

  .search__btn,
.search__input {

  border: none;
  outline: none;
} 
.search__btn {
background-color: var(--btn-color);
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

.search__btn:hover {
  background: #ffa500;
}


/* small tablet styles */
@media screen and (min-width: 570px){

  .search-div {
    display: flex; 
    justify-content: flex-end; /* Align search input/button to the right */  
    margin-right: 8px;
  }

}


/* laptop */
@media screen and (min-width: 960px){

}

