/* ViewEvent */

.content-view-event {
    margin: 1em 0;
    background-color: var(--bg-card);
    border-radius: 5px;

}
.view-event {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 1em;
  }

  .single-event-img img{
    max-width: 100%;
    height: auto;
    grid-column: 1/9;
    
  }
  
  .ve{
    grid-column: 1/9;
  }
  .ve h4 {
    margin-bottom: 8px;
  }
  .event-price h4 {
    margin-bottom: 8px;
  }

  .ve p{
    text-align: left;
  }
  
  .border-around {
    border: 1px solid var(--border);
  }

  .date-time  {
    text-align: center;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 600;
    background-color: #2C2C2C;
  }
   
  .event-category {
    grid-column: 1/9;
  }
  .two-cols{
    grid-column: 1/9;
  }
  
  .first-col {
    grid-column: 1/9;
  }
  .second-col {
    grid-column: 1/9;
  }
   
  .title {
    text-align: center;
    margin-top: 1em;
  }

  .ve-el {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .ve-el-children {
    text-align: center; /* Center-align content in each column (optional) */
  }
.bolder-subtitle {
    margin-bottom: 0;
}
  .additional-info p{
    text-align: left;
  }

  .ticket-price {
    text-align: center;
  }
  .ticket-price p{
    color: var(--btn-color);
    font-weight: 600;
  }

  .address p {
    padding: 8px;
  }
  .address p {
    padding: 8px;
  }
 .action-btns {
    margin: 1em auto;

 }
 .signup {
    text-align: center;
    padding: 8px;
 }
 .signUp {
    background-color: var(--btn-color);

 }

 .addTo-calendar {
    margin-bottom: 1em;
    text-align: center;
 }
  
  /* small tablet styles */
  @media screen and (min-width: 620px){

    .two-cols{
        grid-column: 1/9;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    .first-col {
        grid-column: 1/2;
    }
    .second-col {
        grid-column: 2/3;
        justify-content: center;
    }   
  }
  
  /* laptop */
  @media screen and (min-width: 960px){
  
  }
  
  /* bigger screens */
  @media screen and (min-width: 1200px){
    
  }